*.pyc
*.log
env
build
migrations
runtests
.coverage
404.html
500.html
media/
federated-analytics.js
lrs/celery.py

# Project settings and environment variables
*.ini
*.conf
adl_lrs/settings.ini
adl_lrs/settings.env

# static_root collection directory
staticfiles/*
