DEBUG=True
#SITE_ID=1

# Database
DATABASE_URL=postgres://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>
# DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres

# Email
#EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
#EMAIL_HOST=localhost
#EMAIL_PORT=465
#EMAIL_HOST_USER=<email_host_user>
#EMAIL_HOST_PASSWORD=<email_host_user_password>
#EMAIL_USE_SSL=True

# Auth
#ALLOW_EMPTY_HTTP_AUTH=False
#OAUTH_ENABLED=True

# Hooks
#USE_HOOKS=False

# Preferences
#SERVER_STMT_LIMIT=100
#STMTS_PER_PAGE=10
#TIME_ZONE=America/New_York
#LANGUAGE_CODE=en-US

# Django Secrets
DJANGO_SECRET_KEY=<django_secret_key>

# RabbitMQ (ampq)
RABBIT_USERNAME=<rabbituser>
RABBIT_PASSWORD=<rabbitpassword>
RABBIT_HOST=localhost
#RABBIT_PORT=5672
#RABBIT_VHOST=lrs

# S3
USE_S3=True
AWS_STORAGE_BUCKET_NAME=<bucket_name>
AWS_ACCESS_KEY_ID=<aws access key>
AWS_SECRET_ACCESS_KEY=<aws secrey key>
#AWS_LOCATION=us-east-1
